@media screen and (width <= 768px) {
    .services-circle {
        margin-top: 0;
        margin-bottom: 0;
        transition: margin-top .5s cubic-bezier(0.54, 1.5, 0.38, 1),
                    margin-bottom .5s cubic-bezier(0.54, 1.5, 0.38, 1);
    }
    .services-circle.top-margin {
        margin-top: 4rem;
        margin-bottom: 0;
    }
    .services-circle.bottom-margin {
        margin-top: 0;
        margin-bottom: 4rem;
    }
}

.service-card {
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    cursor: pointer;

    transition: ease-in-out .5s;
}
@media screen and (width <= 768px) {
    .service-card {
        left: calc(50% - 50px);
        top: calc(50% - 50px);
        cursor: pointer;

        transition: ease-in-out .5s;
    }
}
@media screen and (width > 768px) and (width <= 1024px) {
    .service-card {
        left: calc(50% - 75px);
        top: calc(50% - 75px);
        cursor: pointer;

        transition: ease-in-out .5s;
    }
}

.service-card-title, .service-content {
    transition: opacity ease-in-out .3s;
    opacity: 1;
}

.hidden-fade {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.visible-fade {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.service-card:nth-child(1) {
    transform: rotate(45deg) translateX(400px);
}
.service-card:nth-child(2) {
    transform: rotate(135deg) translateX(400px);
}
.service-card:nth-child(3) {
    transform: rotate(225deg) translateX(400px);
}
.service-card:nth-child(4) {
    transform: rotate(-45deg) translateX(400px);
}
@media screen and (width <= 768px) {
    .service-card:nth-child(1) {
        transform: rotate(45deg) translateX(200px);
    }
    .service-card:nth-child(2) {
        transform: rotate(135deg) translateX(200px);
    }
    .service-card:nth-child(3) {
        transform: rotate(225deg) translateX(200px);
    }
    .service-card:nth-child(4) {
        transform: rotate(-45deg) translateX(200px);
    }
}
@media screen and (width > 768px) and (width <= 1024px) {
    .service-card:nth-child(1) {
        transform: rotate(45deg) translateX(250px);
    }
    .service-card:nth-child(2) {
        transform: rotate(135deg) translateX(250px);
    }
    .service-card:nth-child(3) {
        transform: rotate(225deg) translateX(250px);
    }
    .service-card:nth-child(4) {
        transform: rotate(-45deg) translateX(250px);
    }
}

.service-card:nth-child(1) .service-card-title {
    transform: rotate(-45deg) translate(-45px, 47px);
}
.service-card:nth-child(2) .service-card-title {
    transform: rotate(-135deg) translate(-58px, -56px);
}
.service-card:nth-child(3) .service-card-title {
    transform: rotate(-225deg) translate(59px, -58px);
}
.service-card:nth-child(4) .service-card-title {
    transform: rotate(45deg) translate(47px, 47px);
}
@media screen and (width <= 768px) {
    .service-card:nth-child(1) .service-card-title {
        transform: rotate(-45deg) translate(-21px, 20px);
    }
    .service-card:nth-child(2) .service-card-title {
        transform: rotate(-135deg) translate(-28px, -29px);
    }
    .service-card:nth-child(3) .service-card-title {
        transform: rotate(-225deg) translate(29px, -28px);
    }
    .service-card:nth-child(4) .service-card-title {
        transform: rotate(45deg) translate(21px, 21px);
    }
}
@media screen and (width > 768px) and (width <= 1024px) {
    .service-card:nth-child(1) .service-card-title {
        transform: rotate(-45deg) translate(-33px, 31px);
    }
    .service-card:nth-child(2) .service-card-title {
        transform: rotate(-135deg) translate(-41px, -41px);
    }
    .service-card:nth-child(3) .service-card-title {
        transform: rotate(-225deg) translate(44px, -41px);
    }
    .service-card:nth-child(4) .service-card-title {
        transform: rotate(45deg) translate(34px, 32px);
    }
}

.service-card:nth-child(1) .service-content {
    transform: rotate(-45deg) translate(33px, 45px);
}
.service-card:nth-child(2) .service-content {
    transform: rotate(-135deg) translate(-36px, 35px);
}
.service-card:nth-child(3) .service-content {
    transform: rotate(-225deg) translate(-17px, -50px);
}
.service-card:nth-child(4) .service-content {
    transform: rotate(45deg) translate(66px, -3px);
}
@media screen and (width <= 768px) {
    .service-card:nth-child(1) .service-content {
        transform: rotate(-45deg) translate(19px, 30px);
    }
    .service-card:nth-child(2) .service-content {
        transform: rotate(-135deg) translate(-23px, 19px);
    }
    .service-card:nth-child(3) .service-content {
        transform: rotate(-225deg) translate(-13px, -30px);
    }
    .service-card:nth-child(4) .service-content {
        transform: rotate(45deg) translate(44px, -8px);
    }
}
@media screen and (width > 768px) and (width <= 1024px) {
    .service-card:nth-child(1) .service-content {
        transform: rotate(-45deg) translate(23px, 31px);
    }
    .service-card:nth-child(2) .service-content {
        transform: rotate(-135deg) translate(-26px, 16px);
    }
    .service-card:nth-child(3) .service-content {
        transform: rotate(-225deg) translate(-13px, -35px);
    }
    .service-card:nth-child(4) .service-content {
        transform: rotate(45deg) translate(43px, -9px);
    }
}

.active {
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    cursor: default;
}
@media screen and (width <= 768px) {
    .active {
        left: calc(50% - 125px);
        top: calc(50% - 125px);
        height: 255px;
        width: 255px;
        cursor: default;
    }
}
@media screen and (width > 768px) and (width <= 1024px) {
    .active {
        left: calc(50% - 150px);
        top: calc(50% - 150px);
        height: 275px;
        width: 275px;
        cursor: default;
    }
}