body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar-container {
    z-index: 10;
    position: relative;
}

.services-circle {
    position: relative;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    border:2px solid #912900;
}

.service-card {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    height: 200px;
    width: 200px;
    background-color: #DD7600;
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

.service-card:nth-child(1) {
    transform: rotate(45deg) translateX(400px);
}
.service-card:nth-child(2) {
    transform: rotate(135deg) translateX(400px);
}
.service-card:nth-child(3) {
    transform: rotate(225deg) translateX(400px);
}
.service-card:nth-child(4) {
    transform: rotate(-45deg) translateX(400px);
}

.service-card:nth-child(1) .service-card-title {
    transform: rotate(-45deg) translate(-45px, 47px);
}
.service-card:nth-child(2) .service-card-title {
    transform: rotate(-135deg) translate(-57px, -54px);
}
.service-card:nth-child(3) .service-card-title {
    transform: rotate(-225deg) translate(59px, -58px);
}
.service-card:nth-child(4) .service-card-title {
    transform: rotate(45deg) translate(47px, 47px);
}

.service-card:nth-child(1) .service-content {
    transform: rotate(-45deg) translate(14px, 67px);
}
.service-card:nth-child(2) .service-content {
    transform: rotate(-135deg) translate(-55px, 4px);
}
.service-card:nth-child(3) .service-content {
    transform: rotate(-225deg) translate(52px, -55px);
}
.service-card:nth-child(4) .service-content {
    transform: rotate(45deg) translate(87px, 14px);
}

.active {
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    cursor: default;
}

.image-track-wrapper {
    position: relative;
    width: 100vw;
    height: 56vmin;
    overflow-x: hidden;
    overflow-y: visible;
    margin: auto;
    z-index: 1;
}

#image-track {
    display: flex;
    gap: 4vmin;
    min-width: 255vw;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    overflow: visible;
    z-index: 1;
}

#image-track > .image {
    transition: .5s ease-in-out;
    width:40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 80% center;
    z-index: 1;
}

#image-track > .image:hover {
    transition: .5s ease-in-out;
    width:45vmin;
    height: 60vmin;
    object-fit: cover;
    object-position: 100% center;
    z-index: 1;
}

.customer-bubble {
    background: #DD7600;
    border-radius: 16px;
    position: relative;
    color: #fff;
    margin-bottom: 32px;
}

.bubble-tail {
    position: absolute;
    left: 40px;
    bottom: -16px;
    width: 36px;
    height: 25px;
    background: #DD7600;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    z-index: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.testimonial-button {
    position: relative !important;
    z-index: 1 !important;
}

.testimonial-button-icon {
    color: #ffffff;
}

.companies {
    overflow: hidden;
}

.companies-wrapper img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}