html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.navbar-container {
    z-index: 10;
    position: relative;
}

.services-circle {
    position: relative;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    border:2px solid #912900;
}

.service-card {
    position: absolute;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    height: 200px;
    width: 200px;
    background-color: #DD7600;
    border-radius: 50%;
    color: white;
    cursor: pointer;

    transition: ease-in-out .5s;
}

.service-card:hover {
    background-color: #b85c0c;
}

.service-card-title, .service-content {
    transition: opacity ease-in-out .3s;
    opacity: 1;
}

.hidden-fade {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.visible-fade {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.service-card:nth-child(1) {
    transform: rotate(45deg) translateX(400px);
}
.service-card:nth-child(2) {
    transform: rotate(135deg) translateX(400px);
}
.service-card:nth-child(3) {
    transform: rotate(225deg) translateX(400px);
}
.service-card:nth-child(4) {
    transform: rotate(-45deg) translateX(400px);
}

.service-card:nth-child(1) .service-card-title {
    transform: rotate(-45deg) translate(-45px, 47px);
}
.service-card:nth-child(2) .service-card-title {
    transform: rotate(-135deg) translate(-57px, -54px);
}
.service-card:nth-child(3) .service-card-title {
    transform: rotate(-225deg) translate(59px, -58px);
}
.service-card:nth-child(4) .service-card-title {
    transform: rotate(45deg) translate(47px, 47px);
}

.service-card:nth-child(1) .service-content {
    transform: rotate(-45deg) translate(33px, 50px);
}
.service-card:nth-child(2) .service-content {
    transform: rotate(-135deg) translate(-36px, 35px);
}
.service-card:nth-child(3) .service-content {
    transform: rotate(-225deg) translate(29px, -30px);
}
.service-card:nth-child(4) .service-content {
    transform: rotate(45deg) translate(66px, -3px);
}

.active {
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    height: 400px;
    width: 400px;
    cursor: default;
}

.customer-bubble {
    background: #DD7600;
    border-radius: 16px;
    position: relative;
    color: #fff;
    margin-bottom: 32px;
}

.bubble-tail {
    position: absolute;
    left: 40px;
    bottom: -16px;
    width: 36px;
    height: 25px;
    background: #DD7600;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    z-index: 1;
}

.swiper {
    width: 100%;
    height: 100%;
}

.testimonial-button {
    position: relative !important;
    z-index: 1 !important;
}

.testimonial-button-icon {
    color: #ffffff;
}

.companies {
    overflow: hidden;
}

.companies-wrapper img {
    width: 150px;
    height: 100px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.projects-swiper {
    height: 60vh;
}

.projects-swiper .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .2s;
}

.project-slide {
    position: relative;
    transition: all .2s;
}

.project-slide img {
    object-fit: cover;
}

.project-slide-text {
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .2s;
}

.project-slide:hover {
    width: 35% !important;
}
.project-slide:hover .project-slide-text {
    opacity: .7;
}
.project-slide:hover .project-slide-text h1 {
    opacity: 1;
}